APP_PORT=8000

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sovpalo
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

LLM_PROVIDER=yandex
LLM_TIMEOUT_SEC=15
YANDEX_API_KEY=
YANDEX_FOLDER_ID=
YANDEX_MODEL=yandexgpt/latest

SMTP_HOST=
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_SSL=true
SMTP_FORCE_IPV4=true
SMTP_TIMEOUT_SEC=20
SMTP_SKIP_TLS_VERIFY=false

JWT_SECRET=change_me
PASSWORD_SALT=change_me
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_ENABLED=true
TELEGRAM_PUBLIC_BASE_URL=
TELEGRAM_WEBAPP_URL=
TELEGRAM_BOT_USERNAME=
TELEGRAM_MINI_APP_START_PARAM=auth
TELEGRAM_DEEP_LINK_SCHEME=sovpalo
TELEGRAM_DEEP_LINK_HOST=telegram-auth

APNS_KEY_ID=
APNS_TEAM_ID=
APNS_BUNDLE_ID=
APNS_PRIVATE_KEY_PATH=
APNS_PRIVATE_KEY=
APNS_PRODUCTION=false
