APP_PORT=8000

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sovpalo
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

SMTP_HOST=
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_SSL=true
SMTP_FORCE_IPV4=true
SMTP_TIMEOUT_SEC=20
SMTP_SKIP_TLS_VERIFY=false

JWT_SECRET=change_me
PASSWORD_SALT=change_me
